export("correlation", "DistributionDistance", "DomainCharacterization",
       "DomainDistribution", "DomainHclust", "DomainPlot",
       "DomainPlot_multiple", "DrawCluster", "InitialClustering",
       "SpatialCellTypeDistribution",
       "SpatialCellTypeDistribution_multiple", "SpatialNormalize",
       "SpatialPlot", "SpatialQuery", "SpatialReference")
